*{
    font-family: 'Jersey 10', Courier, monospace;
    font-size: larger;
    color: white;
    background-color: black;
}
header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}
.butao{
    color: white;
    background-color: blue;
    border: 5px;
    border-radius: 10px;
    border-color: none;
}
.butao:hover{
    color: blue;
    background-color: yellow;
    cursor: pointer;
}